@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100% */
}
body {
    background-image: linear-gradient(to right, #F2EDA2, #F2F0CE);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #b8b47be8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F2E205;
    text-align: center;
    text-shadow: 1px 1px 2px #b4a803e7;
}

h2 {
    color: #D0D2F2;
}
 p {
     text-align: justify;
 }